<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="color">
        <input type="color" id="color_value" oninput="change_color()">
    </div>
    <div class="wrap-container">
        <div class="container">
            <div class="wrap-list">
                <div class="to-do-list">
                    <div class="name">
                        <p>To Do List</p>
                    </div>
                    <div class="inputUser">
                        <input type="text" name="" id="user" placeholder="Note...">
                        <div class="button">
                            <button id="ok">ADD</button>
                        </div>
                    </div>
                    
                    <div class="user-data">
                        <ul class="data">
                        
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>
